body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 45vh;
    padding: 65px; 
    border: 1px solid black;
    text-align: center;
}

input {
    display: block;
    text-align: left;
    align-items: left;
    width: 100%; 
    margin-bottom: 15px; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
    width: 60%;
    padding: 10px;
    background-color: #4CB5F9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


